* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
}

body {
  background: linear-gradient(to bottom, #b4bbff, #6070ff);
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #4a4f80;
}

.logos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  font-size: 18px;
  text-decoration: none;
}

.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navbar {
  display: block;
  width: 18px;
  height: 3px;
  margin: 3px;
  background-color: whitesmoke;
}

.nav-links {
  display: none;
  color: whitesmoke;
}

.name {
  font-size: 24px;
}

.name-title {
  font-size: 20px;
}

.intro-container {
  margin: 0;
  padding: 3rem;
}

.title {
  margin-bottom: 5%;
  text-align: center;
  margin-top: 2rem;
  animation: title 0.5s ease-in-out both;
}

@keyframes title {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.intro {
  width: 80%;
  margin: auto;
}

.intro a {
  text-decoration: none;
}

.intro p {
  margin-bottom: 2rem;
}

.header-social-media-icons, .end-social-media-icons {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 5% 0;
}

.connect-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.resume-button, .connect-btn {
  align-self: flex-start;
  font-size: 18px;
  padding: 12px;
  background: transparent;
  border: 1px solid #4a4f80;
  border-radius: 16px;
  margin: 0 0 3%;
  color: #4a4f80;
  cursor: pointer;
}

.resume-button:hover, .connect-btn:hover {
  color: white;
  background: #6070ff;
  border: 1px solid #6070ff;
  cursor: pointer;
  transition: 500ms ease-in-out;
}

.fa-angle-double-down {
  color: #4a4f80;
}

.resume-button:hover .fa-angle-double-down {
  color: white;
  transition: 500ms ease-in-out;
}

img {
  width: 94%;
  margin: 3%;
  border-radius: 8px;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 5% auto;
  border: 1px solid white;
  border-radius: 16px;
}

.projects {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 12px;
}

.projects:hover {
  background-color: #4a4f80;
  transition: 500ms ease-in-out;
  animation: projects-hover 0.5s cubic-bezier(0.500, 0.500, 0.500, 0.500) both;
}

@keyframes projects-hover {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}



.projects-title {
  text-align: center;
  text-decoration: underline;
}

.projects img {
  max-width: 100%;
  height: 15rem;
  margin: 4%;
  width: 92%;
}

.project-info {
  margin: 0% 5% 5%
}

.project-button {
  background: white;
  color: #6070ff;
  padding: 5px;
  border-radius: 12px;
  border: 1px solid whitesmoke;
  margin-top: 0.5rem;
}

.project-button:hover {
  background-color: #6070ff;
  cursor: pointer;
  transition: 500ms ease-in-out;
}

.project-summary {
  display: flex;
  gap: 10px;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  margin: 2% 0;
}

.project-summary li {
  font-size: 14px;
}

.dev-list {
  display: flex;
  gap: 0 1rem;
  list-style: none;
  margin: 2% 0;
  flex-wrap: wrap;
  font-size: 14px;
}

.live-link, .github-link {
  color: #6070ff;
  text-decoration: none;
}

.project-button:hover .live-link, .project-button:hover .github-link {
  color: white;
  transition: 500ms ease-in-out;
}

.about-section {
  margin-top: 1rem;
}

.about-title {
  margin-bottom: 2%;
  padding-top: 2rem;
  text-align: center;
}

.about-detail {
  width: 65%;
  margin: auto;
  font-size: 18px;
}

.end-social-media-icons {
  justify-content: center;
}

.fa-github:hover, .fa-linkedin:hover, .fa-angellist:hover, .fa-medium:hover, .fa-envelope:hover {
  color: #959fff;
  transition: 500ms ease-in-out;
}

.language-container {
  margin: 5% 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  padding: 1rem 1rem 2rem 1rem;
}

.lang-container-title {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 28px;
}

.languages, .frameworks, .skills, .soft-skills {
  flex: 40%;
  margin-top: 1rem;
}

.languages, .skills {
  padding-left: 3rem;
}

.lang-list-item, .framework, .skill, .soft-skill {
  border: 1px solid white;
  width: fit-content;
  border-radius: 12px;
  padding: 5px 10px;
  margin: 0.5rem 0;
}

.lang-list-item:hover {
  background-color: whitesmoke;
  color: #6070ff;
  transition: 500ms ease-in-out;
}

.framework:hover, .framework:hover .fw-list-item {
  background-color: whitesmoke;
  color: #6070ff;
  transition: 500ms ease-in-out;
}

.skill:hover, .skill:hover .skills-list-item {
  background-color: whitesmoke;
  color: #6070ff;
  transition: 500ms ease-in-out;
}

.soft-skill:hover, .soft-skill:hover .soft-skills-list-item {
  background-color: whitesmoke;
  color: #6070ff;
  transition: 500ms ease-in-out;
}



.contact-form {
  background-color: #4a4f80;
  padding: 2rem 0;
  margin-top: -2rem;
}

.contact-title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 28px;
}

.contact-info {
  margin: 1rem auto;
  width: 80%;
  text-align: center;
}

.contact-button {
  padding: 10px;
  color: #6070ff;
  border-radius: 12px;
  border: none;
  margin-top: 0.5rem;
  font-weight: bold;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #959fff;
  position: fixed;
  z-index: 1;
  margin-top: -2%;
  display: flex;
  height: 105vh;
  margin: -4% 0 0;
}

.mobile-menu-links {
  text-decoration: none;
  padding-left: 2.5rem;
  margin-top: 10%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
}

.cancel-icon {
  display: block;
  font-size: 30px;
  margin: 10% 10% auto auto;
  cursor: pointer;
  width: auto;
}

@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 1rem 0 4rem;
  }

  .logo {
    font-size: 24px;
  }

  .hamburger {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    flex: 1;
    height: 4rem;
    align-items: center;
    padding-bottom: 1rem;
    margin-top: -0.5rem;
  }

  .navbar {
    visibility: hidden;
  }

  .nav-links {
    text-decoration: none;
    visibility: visible;
    font-size: 24px;
    display: flex;
  }

  .nav-links:hover {
    color: #959fff;
    transition: 500ms ease-in-out;
  }

  .about-nav-link {
    margin-left: 1.5rem;
  }

  .name {
    font-size: 48px;
  }

  .title h1 {
    margin-bottom: 1%;
    margin-top: 4rem;
  }

  .name-title {
    font-size: 32px;
  }

  .intro-container {
    margin: 0 10%;
    text-align: center;
    padding: 2rem 1rem;
  }

  .intro a {
    color: #4a4f80;
    font-size: 21px;
    height: 3rem;
  }

  .intro p {
    width: 60%;
    margin: 1rem auto 2rem;
    font-size: 18px;
  }

  .social-media-icons, .end-social-media-icons {
    margin: 2% 0;
    justify-content: center;
  }

  .works {
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: column;
  }

  .projects-title {
    font-size: 28px;
  }

  .projects-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
  }

  .cards {
    width: 40%;
  }

  .project-info {
    margin: 2% 4% 4% 4%;
  }

  .project-summary, .project-details {
    margin: 3% 0;
    font-size: 18px;
  }

  .dev-list {
    gap: 0.5rem 1rem;
  }

  .project-button {
    font-size: 16px;
  }

  .about-section {
    margin-top: 1rem;
  }

  .about-title {
    font-size: 28px;
  }

  .resume-button {
    margin: 0;
    height: 3rem;
  }

  .end-social-media-icons {
    justify-content: center;
    font-size: 24px;
  }

  .language-container {
    padding: 1rem 15%;
  }

  .languages, .frameworks, .skills, .soft-skills {
    flex: 0%;
    width: 20%;
  }

  .lang-title, .fw-title, .skills-title, .soft-skills-title {
    font-size: 24px;
  }

  .languages, .skills {
    padding-left: 2rem;
  }

  .contact-info {
    width: 60%;
    font-size: 18px;
  }

  .mobile-menu {
    display: none;
  }
}

@media (min-width: 1280px) {
  works {
    display: flex;
    width: 95%;
    margin: auto;
    flex-direction: column;
  }

  .projects-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    justify-content: center;
  }

  .cards {
    width: 30%;
    margin: 2% 1% 1% 1%;
  }
}