* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #dbdbdb;
}

body {
  background: #222831;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #222831;
  box-shadow: 0 3px 6px rgba(68, 79, 90, .5);
}

.social-logos {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.name, .footer-name {
  background: -webkit-linear-gradient( top right, #1237f6, #09f4f4 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name:hover {
  background: -webkit-linear-gradient( top right, #09f4f4, #1237f6 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1000ms ease-in-out;
}

.photo {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-logo {
  display: none;
}

.navbar-links {
  display: flex;
  gap: 1rem;
}

.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.nav-links {
  text-decoration: none;
  visibility: visible;
  font-size: 24px;
  display: flex;
}

.nav-links:hover {
  color: #1237f6;
  transition: 500ms ease-in-out;
  background: -webkit-linear-gradient( top right, #1237f6, #09f4f4 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name {
  font-size: 36px;
}

.name-title {
  font-size: 24px;
  width: 70%;
  margin: auto;
}

.photo img {
  min-width: 300px;
  max-width: 20%;
  border-radius: 50%;
  transform: rotate(5deg);
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.title {
  text-align: center;
  animation: title 0.5s ease-in-out both;
  margin: 5% 5% 0;
}

@keyframes title {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.title p {
  font-size: 20px;
}

.intro {
  width: 80%;
  margin: auto;
}

.intro a {
  text-decoration: none;
  text-align: center;
  color: #dbdbdb;
}

.about-section {
  margin-bottom: 2rem;
}

.header-social-media-icons, .end-social-media-icons {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 5% 0;
}

.connect-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #dbdbdb;
}

.resume-button, .connect-btn, .contact-btn {
  align-self: flex-start;
  font-size: 18px;
  padding: 12px;
  background: transparent;
  border: 1px solid #dbdbdb;
  border-radius: 16px;
  cursor: pointer;
  color: #dbdbdb;
}

.resume-button:hover, .connect-btn:hover, .contact-btn:hover {
  color: white;
  border: 1px solid #1237f6;
  cursor: pointer;
  transition: 500ms ease-in-out;
  background: -webkit-linear-gradient( top right, #1237f6, #09f4f4 );
}

.fa-angle-double-down {
  color: #dbdbdb;
}

.resume-button:hover .fa-angle-double-down {
  color: white;
  transition: 500ms ease-in-out;
}

.about-section {
  animation: about-slide 0.5s linear both;
}

@keyframes about-slide {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(0);
  }
}

.about-title, .skills-title, .projects-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 1rem;
}

.about-skills-container {
  display: flex;
  width: 90%;
  margin: auto;
  flex-direction: column;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 4rem auto 2rem;
  justify-content: center;
  animation: skills-slide 0.5s linear both;
}

@keyframes skills-slide {
  0% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(0);
  }
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 auto 2rem;
  justify-content: space-around;
}

.skills-list p {
  font-size: 18px;
}

.skill-logos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
  margin: 0.5rem 0;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 0.5rem;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 5% auto;
  border: 1px solid white;
  border-radius: 16px;
}

.cards:hover {
	animation: card-hover 0.5s ease-in-out both;
}

@keyframes card-hover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.projects {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 12px;
}

.project-title {
  background: -webkit-linear-gradient( top right, #1237f6, #09f4f4 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projects img {
  height: 15rem;
  width: 98%;
  border-radius: 12px;
  margin: 1% 1% 5% 1%;
}

.project-info {
  margin: 0% 5% 5%
}

.project-button {
  background: white;
  color: #6070ff;
  padding: 5px;
  border-radius: 12px;
  border: 1px solid whitesmoke;
  margin-top: 0.5rem;
}

.project-button:hover {
  color: white;
  border-image-source: linear-gradient( 180deg, rgba(24, 185, 207, 0.9) 0%, #3b53a8 100% );
  cursor: pointer;
  transition: 500ms ease-in-out;
  background: -webkit-linear-gradient( top right, #1237f6, #09f4f4 );
}

.project-summary {
  display: flex;
  gap: 10px;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  margin: 2% 0;
}

.project-summary li {
  font-size: 14px;
}

.dev-list {
  display: flex;
  gap: 0 1rem;
  list-style: none;
  margin: 2% 0;
  flex-wrap: wrap;
  font-size: 14px;
}

.live-link, .github-link {
  color: #222831;
  text-decoration: none;
}

.project-button:hover .live-link, .project-button:hover .github-link {
  color: white;
  transition: 500ms ease-in-out;
}

.end-social-media-icons {
  justify-content: center;
}

.fa-github:hover, .fa-linkedin:hover, .fa-angellist:hover, .fa-medium:hover, .fa-envelope:hover {
  animation: icon-hover 0.5s ease-in-out both;
}

@keyframes icon-hover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

.language-container {
  margin: 5% 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: flex-start;
  width: 100%;
  padding: 1rem 1rem 2rem;
}

.lang-container-title {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 28px;
}

.languages, .skills {
  padding-left: 3rem;
}

.skill:hover, .skill:hover .skills-list-item {
  background-color: whitesmoke;
  color: #6070ff;
  transition: 500ms ease-in-out;
}

.contact-form {
  margin: 0 0 4rem;
}

.contact-parts {
display: flex;
flex-direction: column;
align-items: center;
margin: auto;
}

.contact-title {
  text-align: center;
  margin: 3rem 0 1rem;
  font-size: 36px;
}

.contact-info {
  margin: 1rem auto;
  text-align: center;
  width: 60%;
}

.fieldset {
  width: 60%;
  border: none;
}

form {
  width: 100%;
  margin: 1rem 0 0;
}

form ul {
  width: 100%;
  list-style: none;
}

form input {
  width: 100%;
  height: 2rem;
  margin: 0.25rem auto;
  padding: 1rem 0.5rem;
  border-radius: 8px;
  font-size: 18px;
  color: #444;
  font-family: inherit;
}

form textarea {
  width: 100%;
  height: 8rem;
  margin: 0.25rem auto;
  padding: 0.5rem;
  border-radius: 8px;
  font-size: 18px;
  color: #444;
  font-family: inherit;
}

.contact-button-div {
  margin: 0.25rem auto;
  display: flex;
  justify-content: center;
  width: auto;
}

.contact-button {
  padding: 10px;
  color: #6070ff;
  border-radius: 12px;
  border: none;
  margin-top: 0.5rem;
  font-weight: bold;
}

.mobile-menu-cancel {
  display: none;
}

.menu-links {
  display: none;
}

footer {
  text-align: center;
  margin: 1rem auto;
  font-size: 18px;
  width: 80%;
}

@media (width >= 768px) {
  .header {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 1rem;
  }

  .name-logo {
    display: flex;
    font-size: 48px;
    background: -webkit-linear-gradient( top right, #b7bbd3, #657171 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .navbar-links {
    gap: 2rem;
  }

  .hamburger {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    flex: 1;
    height: 4rem;
    margin: 0 4% 0 6%;
  }

  .nav-links {
    text-decoration: none;
    visibility: visible;
    font-size: 24px;
    display: flex;
  }

  .nav-links:hover {
    color: #959fff;
    transition: 500ms ease-in-out;
  }

  .name {
    font-size: 48px;
  }

  .title h1 {
    margin-bottom: 1%;
    margin-top: 1rem;
  }

  .title p {
    font-size: 20px;
  }

  .name-title {
    font-size: 28px;
    width: 100%;
  }

  .about-skills-container {
    flex-direction: row;
    margin-bottom: 2rem;
  }

  .intro {
    flex: 50%;
    margin: 0;
  }

  .intro-container {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin: 10% 8% 5%;
    padding: 0;
}

  .intro a {
    font-size: 21px;
    height: 3rem;
  }

  .about-section {
    width: 85%;
    margin: 3rem auto;
    font-size: 20px;
    text-align: start;
  }

  .title {
    flex: 60%;
    text-align: start;
    margin: 2rem 0;
  }

  .social-logos {
    display: flex;
    justify-content: flex-start;
  }

  .photo {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 50%;
  }

  .social-media-icons, .end-social-media-icons {
    margin: 2% 0;
    justify-content: center;
  }

  .about-title, .skills-title, .projects-title {
    font-size: 28px;
    margin-bottom: 1rem;
  }

  .contact-parts {
    flex-direction: row;
    align-items: baseline;
    }

  .contact-title {
    font-size: 42px;
  }

  .connect-btns {
    justify-content: flex-start;
    margin-left: 7%;
  }

  .skills-container {
    margin: 0 auto;
    flex: 50%;
    align-content: flex-start;
    justify-content: center;
  }

  .skills-list {
    margin-left: 1rem;
    justify-content: center;
  }

  @keyframes card-hover {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }

  .works {
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: column;
  }

  .projects-title {
    margin-top: 2rem;
  }

  .projects-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
  }

  .cards {
    width: 40%;
  }

  .project-info {
    margin: 2% 4% 4%;
  }

  .project-summary, .project-details {
    margin: 3% 0;
    font-size: 18px;
  }

  .dev-list {
    gap: 0.5rem 1rem;
  }

  .project-button {
    font-size: 16px;
  }

  .resume-button {
    margin: 0;
    height: 3rem;
  }

  .end-social-media-icons {
    justify-content: center;
    font-size: 24px;
  }

  .language-container {
    padding: 1rem 15%;
  }

  .languages, .skills {
    padding-left: 2rem;
  }

  .contact-info-part {
    width: 50%;
  }

  .contact-info {
    width: 70%;
    font-size: 20px;
    margin: 1rem auto 2rem;
  }

  form input {
    width: 80%;
  }

  form textarea {
    width: 80%;
  }

  .fieldset {
    width: 50%;
  }

  .contact-button-div {
    justify-content: flex-start;
  }

  .mobile-menu {
    display: none;
  }
}

@media (width >= 1280px) {
  .works {
    display: flex;
    width: 95%;
    margin: auto;
    flex-direction: column;
  }

  .projects-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    justify-content: center;
  }

  .cards {
    width: 30%;
    margin: 2% 1% 1%;
  }
}