* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 6px;
}

body {
  background-color: #e5e5e5;
}

.main-container {
  background-image: url('./Images/header-shapes-mobile.png'), url('./Images/header-background-mobile.png');
  background-repeat: no-repeat;
  margin-top: -20px;
  padding-top: 25px;
  order: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin: 10px 30px;
}

.logo {
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex-grow: 0;
  text-decoration: none;
}

.navbar {
  display: block;
  width: 18px;
  height: 3px;
  margin: 3px;
  background-color: #6070ff;
}

.nav-links {
  display: none;
}

.intro-container {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: contain;
  height: 606px;
  align-items: center;
  padding-top: 50px;
  padding-right: 20px;
}

.title {
  width: 327px;
  height: 150px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  order: 0;
  flex-grow: 0;
  padding-left: 20px;
  padding-right: 10px;
}

.intro {
  width: 327px;
  height: 145px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  order: 0;
  flex-grow: 0;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 10px;
  justify-content: center;
}

.connect {
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  order: 2;
  flex-grow: 0;
  justify-content: flex-start;
  text-decoration: none;
}

.social-media-icons {
  height: 20px;
  order: 99;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-right: 200px;
}

.social-media li {
  list-style: none;
}

.works {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 88px;
  position: absolute;
  height: 2788px;
  order: 1;
  background: #e5e5e5;
}

.cards {
  width: 327px;
  padding: 16px 16px 25px 16px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  height: 552px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
}

.picture {
  width: 295px;
  height: 220px;
  border-radius: 8px;
}

.project-title {
  height: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.project-summary {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.canopy {
  color: #344563;
}

.back-end-dev {
  color: #7a869a;
}

.year {
  color: #7a869a;
}

.dot {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  order: 1;
  border-radius: 50%;
}

.project-details {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.dev-list > * {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  border-color: #396df2;
  color: #396df2;
  border: none;
  list-style: none;
  text-align: center;
}

.project-button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 16px;
  background: transparent;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  color: #396df2;
  border-color: #396df2;
  margin-top: 5px;
}

.project-button:hover {
  background-color: var(--clr-purple);
  color: var(--clr-white);
}

button.project-button:active {
  background-color: #2230d2;
}

.about-section {
  background: white;
  border-top-right-radius: 50px;
  width: 100%;
  height: 110vh;
  margin-top: 2850px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.about-title {
  order: 2;
  width: 327px;
  font-family:
    'Poppins',
    sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  padding: 20px 24px 0 24px;
}

.about-detail {
  padding: 10px 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.about-connect {
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  order: 3;
  text-decoration: none;
  padding: 0 24px;
}

.end-social-media-icons {
  height: 20px;
  order: 99;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-right: 200px;
  padding-left: 24px;
}

.resume-button {
  display: flex;
  margin-top: 50px;
  align-self: flex-start;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 16px;
  margin-left: 24px;
  background: transparent;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  color: #396df2;
  border-color: #396df2;
  margin-bottom: 20px;
}

.language-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 25px;
  background: white;
  height: 75vh;
}

.arrow-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right-arrow-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.dev-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  order: 0;
  padding-bottom: 20px;
}

.dev-tools {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
}

.dev-icons {
  position: absolute;
  width: 48px;
  height: 48px;
  margin-left: 12px;
}

.skills li {
  list-style: none;
  display: flex;
}

.lan-list {
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
  order: 0;
  margin-bottom: 10px;
}

.about-dev-list {
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #253858;
  padding-left: 70px;
  padding-top: 25px;
}

.dev-frameworks {
  order: 1;
}

.dev-skills {
  order: 2;
}

.contact-form {
  background-image: url('./Images/contact\ form\ shapes-mobile.png');
  background-repeat: no-repeat;
  background-color: #6070ff;
  border-top-left-radius: 100px;
  width: auto;
  height: auto;
  list-style: none;
  padding-bottom: 40px;
  background-position-x: right;
  margin-top: -10%;
}

.contact-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-self: center;
  color: #fff;
  margin-top: 100px;
  padding-top: 75px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

.contact-info {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin: 10px 24px 60px 24px;
}

.fieldset {
  align-content: center;
  border: none;
}

.form-input {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 327px;
  height: 48px;
  display: flex;
  align-items: center;
  margin-left: 24px;
  list-style: none;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  padding-left: 16px;
}

#text-area {
  height: 170px;
  padding-top: 16px;
}

.contact-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  width: 140px;
  height: 48px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  margin-left: 24px;
  border: 1px solid #cfd8dc;
}

.contact-button:hover {
  background: #6070ff;
  color: #fff;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #3145f9f3;
  position: fixed;
  z-index: 1;
  margin-top: -20px;
}

.menu-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile-menu-links {
  text-decoration: none;
  padding-left: 2.5rem;
  margin-top: 10%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
}

.cancel-icon {
  display: block;
  width: 20px;
  height: 20px;
  font-size: 25px;
  color: white;
  margin: 10% 10% auto auto;
  cursor: pointer;
}

.hidden {
  display: none;
}

.card-frame .no-count {
  list-style: disc;
  color: #344563;
  font-weight: 600;
  margin-left: 10px;
}

.card-frame {
  gap: 0.8rem;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  list-style: none;
}

.card-frame li {
  font-size: 14px;
  margin: 5px;
  color: #7a869a;
}

.card-tags-down {
  border-radius: 8px;
  list-style-type: circle;
  font-size: 0.75rem;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.03rem;
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  background-color: #ebebff;
  color: var(--clr-purple);
  padding: 4px 12px;
}

.card-tags-up {
  border-radius: 8px;
  letter-spacing: 0.03rem;
  align-items: center;
  background-color: #ebebff;
  padding: 4px 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  line-height: 16px;
  color: #396df2;
  list-style: none;
}

.card-tags2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 24px;
}

.card-tags1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 228px;
  height: 24px;
}

.card-tags li {
  border-radius: 8px;
  list-style-type: circle;
  font-size: 0.75rem;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.03rem;
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  background-color: #ebebff;
  color: var(--clr-purple);
  padding: 4px 12px;
}

@media (min-width: 320px) {
  .overlay {
    position: fixed;
    left: 0;
    width: auto;
    right: 0;
    top: 0;
    bottom: 0;
    background: #c1c7d0;
    mix-blend-mode: multiply;
    backdrop-filter: blur(15px);
    z-index: 1;
    margin-top: -10px;
  }

  .popup-window {
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 12px;
    position: fixed;
    width: 94%;
    height: 88vh;
    top: 45px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin-left: 3%;
    z-index: 3;
  }

  .frame1 {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 40px;
    justify-content: space-between;
  }

  .closeIcon-popup {
    color: #67798e;
    font-size: 20px;
  }

  .frame2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 12px;
    width: 100%;
    height: 32px;
  }

  .popup-img {
    width: 100%;
    height: 100%;
  }

  .right-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
    width: 80%;
  }

  .left-block {
    display: none;
  }

  .popups-project-p-mobile {
    margin-left: 2%;
    width: 120%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #344563;
  }

  .card-tags1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    width: 203px;
    height: 24px;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
  }

  .card-tags-up {
    font-size: 0.9rem;
  }

  .card-tags2 {
    display: none;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
  }

  .divider2 {
    position: absolute;
    left: 20px;
    right: 24px;
    border: 1px solid #ebecf0;
    margin-top: -3%;
  }

  .divider {
    display: none;
  }

  .action {
    width: 110%;
    display: flex;
    align-items: stretch;
  }

  .seeSource {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    padding: 12px;
    background: transparent;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    color: #396df2;
    border-color: #396df2;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 60%;
    height: 48px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
  }

  .seeLive {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 55%;
    height: 48px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    padding: 12px;
    background: transparent;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    color: #396df2;
    border-color: #396df2;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-right: 10px;
  }

  .live-icon {
    margin-left: 4px;
  }

  .see p {
    font-size: 15px;
    margin-top: 1rem;
  }

  .see1 {
    width: 20px;
    height: 20px;
    background-image: url(imgs/Icon.png);
    background-repeat: no-repeat;
  }

  .see2 {
    width: 20px;
    height: 20px;
    background-image: url(imgs/githubVector.png);
    background-repeat: no-repeat;
  }
}

.error {
  color: #3cea15;
  font-weight: bold;
  margin-left: 3rem;
  font-size: 22px;
  background: transparent;
  padding: 2px;
}

/* DESKTOP VERSION */

@media (min-width: 768px) {
  .main-container {
    background-image: url('./Images/Header-bg.png'), url('./Images/header\ background\ shape-desktop.png');
    background-repeat: no-repeat;
    background-size: 100% 700px;
  }

  .intro-container {
    align-items: center;
    height: 60vh;
  }

  .header {
    margin-right: 155px;
  }

  .logo {
    margin-left: 155px;
    height: 40px;
  }

  .navbar {
    visibility: hidden;
  }

  .hamburger {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3em;
    flex: 1;
  }

  .nav-links {
    text-decoration: none;
    visibility: visible;
    width: 63px;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
  }

  .nav-links:hover {
    color: #6070ff;
  }

  .about-nav-link {
    margin-left: 10px;
  }

  .title {
    width: 60%;
    height: auto;
    margin: 0 200px;
    letter-spacing: 0.3px;
    line-height: 1;
    animation: rotation 2.5s;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .intro {
    width: 60%;
    height: auto;
    margin: 0 200px 0 200px;
  }

  .works {
    width: auto;
    height: auto;
    margin-left: 10%;
    margin-right: auto;
  }

  .cards {
    width: 70%;
    height: 100%;
    flex-direction: row;
    padding-bottom: 20px;
  }

  .card1 {
    margin-top: -2%;
  }

  .projects {
    display: flex;
    flex-direction: row;
  }

  .picture {
    flex: 50%;
    height: 95%;
  }

  .project-info {
    flex: 50%;
    margin-left: 20px;
  }

  .project6,
  .project8 {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 0;
  }

  .picture6,
  .picture8 {
    margin-left: 20px;
  }

  .project-details {
    margin-top: 10px;
  }

  .dev-list {
    width: auto;
  }

  .project-button-below {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .project-button {
    transition: all 0.5s ease-in;
  }

  .project-button:hover {
    background-color: rgb(229, 225, 237);
    color: goldenrod;
  }

  .project-title {
    animation-duration: 2s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 150%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  .about-section {
    border-top-right-radius: 100px;
    background: #fff;
    display: flex;
    width: 100%;
    flex-direction: row;
    order: 2;
    margin: 160% auto 0 auto;
    height: 100%;
  }

  .about-container {
    width: 40%;
    margin-left: 150px;
    padding-right: 30px;
    margin-bottom: 200px;
  }

  .about-title {
    margin-left: 100px;
    margin-top: 80px;
  }

  .about-detail {
    margin-left: 100px;
    margin-right: auto;
    width: auto;
  }

  .about-connect {
    margin-left: 100px;
  }

  .end-social-media-icons {
    margin-left: 100px;
  }

  .resume-button {
    margin-left: 120px;
    margin-bottom: 75px;
  }

  .language-container {
    width: 60%;
    margin-top: 100px;
    max-width: 600px;
    height: 400px;
  }

  .arrow-container {
    width: 120%;
  }

  .lan-list-lang {
    padding-bottom: 25px;
    display: flex;
  }

  .down-arrow {
    display: flex;
    justify-content: flex-end;
    transform: rotate(90deg);
  }

  .dev-container {
    flex-direction: row;
    justify-content: center;
  }

  .right-arrow-container {
    width: 120%;
  }

  .divider2 {
    width: 85%;
    left: 10px;
    margin-top: -3%;
  }

  .dev-tools {
    background: #f7f7f9;
    border-radius: 8px;
    margin-right: 10px;
    width: 7em;
    height: 6em;
    display: flex;
  }

  .about-dev-list {
    padding-left: 10px;
    padding-top: 60px;
  }

  .contact-form {
    background: url('./Images/contact\ form\ background\ shapes.png'), url('./Images/contact-form-background-shape-desktop.png');
    background-repeat: no-repeat;
    background-size: 100% 110%;
    width: 100%;
    display: flex;
    flex-direction: column;
    order: 3;
    margin-top: -10%;
  }

  .contact-title {
    margin: 100px 0 24px 0;
  }

  .contact-info {
    flex: 1;
    width: 40%;
    height: auto;
    align-self: center;
  }

  .fieldset {
    width: 60%;
    align-self: center;
    margin-top: 0;
  }

  ul {
    list-style-type: none;
  }

  .form-input {
    width: 55%;
    margin: 0 auto 20px auto;
  }

  .contact-button {
    align-self: center;
    padding: auto 10px;
    margin: 20px auto 100px auto;
  }

  .contact-button:hover {
    background: #6070ff;
    color: #fff;
  }

  .error {
    color: #da650c;
    font-weight: bold;
    margin-left: 15rem;
    margin-right: auto;
    font-size: 28px;
    background: transparent;
    padding: 6px;
  }

  .overlay {
    height: 102%;
    width: 100%;
    position: fixed;
    backdrop-filter: blur(20px);
    z-index: 1;
    margin-top: -10px;
  }

  .popup-window {
    margin-left: 8%;
    top: 75px;
    width: 86%;
    height: 85vh;
    position: fixed;
    z-index: 2;
    background: white;
  }

  .popups-container {
    display: flex;
    flex-direction: row;
    width: 85%;
    border-radius: 10px;
    background-color: white;
    margin: 30px 0 30px 0;
  }

  .top-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    position: absolute;
    width: 97%;
    justify-content: space-between;
    height: 84px;
    left: 24px;
    top: 24px;
    background-color: #fff;
    margin-top: -10px;
  }

  .frame1 {
    flex-wrap: wrap;
    width: 108%;
    margin-left: -7%;
  }

  .frame2 {
    margin-top: 3rem;
    width: auto;
    margin-right: 2.5rem;
  }

  .closeIcon-popup {
    color: #67798e;
    margin: auto;
    margin-left: 92%;
    font-size: 30px;
    cursor: pointer;
    margin-top: -2%;
  }

  .popups-proj-title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #091e42;
    width: auto;
    height: 40px;
    padding-left: 5rem;
  }

  .card-frame {
    margin-left: -22rem;
    margin-top: -3rem;
  }

  .popup-img {
    position: absolute;
    object-fit: cover;
    width: 90%;
    height: 20rem;
    margin-top: 5rem;
    margin-left: -2rem;
    border: 1px solid darkgrey;
    border-radius: 8px;
  }

  .right-block {
    position: absolute;
    width: auto;
    height: 13vh;
    right: 1rem;
    top: 29rem;
  }

  .popups-project-p-mobile {
    display: none;
  }

  .popups-project-p-desktop {
    margin-top: 2.7rem;
    margin-left: 4%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #344563;
  }

  .action {
    width: 280px;
    height: 56px;
    margin: auto;
    margin-right: 60px;
  }

  .seeSource {
    display: flex;
    width: 65%;
    margin-right: -12%;
    justify-content: space-between;
    align-content: flex-end;
    padding-left: 8%;
  }

  .card-tags1 {
    display: flex;
  }

  .see p {
    height: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #396df2;
    margin-top: 0.8rem;
  }

  .see1 {
    width: 20px;
    height: 20px;
    background-image: url(imgs/Icon.png);
    background-repeat: no-repeat;
  }

  .see2 {
    width: 20px;
    height: 20px;
    background-image: url(imgs/githubVector.png);
    background-repeat: no-repeat;
  }

  .seeLive {
    align-items: flex-end;
    width: 60%;
  }

  .left-block {
    display: flex;
    margin-top: 23rem;
    margin-right: 19rem;
    margin-left: -7%;
    z-index: 1;
  }
}

/* BIG SCREENS */

@media (min-width: 1280px) {
  .frame1 {
    margin-left: -3%;
  }

  .popup-img {
    width: 68vw;
    height: 36vh;
    margin-left: 3%;
  }

  .popups-project-p-desktop {
    margin-top: 2.7rem;
    margin-left: 4%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #344563;
  }

  .left-block {
    margin-top: 19rem;
  }

  .right-block {
    top: 27rem;
  }

  .card-frame {
    margin-left: -23rem;
    margin-top: -4rem;
  }

  .frame2 {
    margin-top: 3.5rem;
    width: auto;
    margin-right: 15.5rem;
  }
}

@media (min-width: 1440px) {
  .frame1 {
    margin-left: 0%;
  }

  .left-block {
    display: flex;
    margin-top: 29rem;
    margin-right: 15rem;
    margin-left: -7%;
  }

  .right-block {
    top: 37rem;
  }

  .popups-project-p-desktop {
    margin-top: 7%;
    margin-left: 4%;
    margin-right: 3%;
    z-index: 1;
  }

  .card-frame {
    margin-left: -260%;
    margin-top: -10%;
  }

  .overlay {
    height: 102%;
  }

  .popup-img {
    width: 75vw;
    height: 49vh;
    margin-left: -2%;
  }

  .frame2 {
    margin-top: 2.5rem;
    margin-left: 40rem;
  }
}

@media (min-width: 1920px) {
  .frame1 {
    margin-left: 2%;
  }

  .popup-img {
    width: 75vw;
    height: 49vh;
    margin-left: -2%;
  }

  .right-block {
    top: 42rem;
  }

  .left-block {
    margin-top: 35rem;
  }

  .frame2 {
    margin-left: 14rem;
  }
}
